
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: relative;
    top: 41px;
    z-index: 4;
}
.logo-keeper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 400px;
    height: 20px;
    flex-grow: 1;
}
.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 100px;
    width: 90px;
    height: 20px;
}
.logo a {
    font-family: 'SFProDisplay-Black';
    font-size: 27px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 54px;
    font-weight: 400;
    color: #191a1d;
    letter-spacing: 2.7px;
}
.logo a:hover{
    color: lightgreen;
}
.red-dot{
    color: #f73646;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 569px;
    height: 22px;
    flex-grow: 1;
}
.navigation-items a{
    font-family: 'SFProDisplay-Heavy';
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 54px;
    font-weight: 400;
    color: #252a33;
    letter-spacing: 1.07px;
    height: 13px;
    display: flex;
    align-items: center;
}
.navigation-items a:hover{
    color: lightseagreen;
}
.icons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}
.search{
    background-image: url('../images/icon-search.png');
    height: 23px;
    width: 22px;
    background-repeat: no-repeat;
    background-position: center;
}
.notifications{
    background-image: url('../images/icon-bell.png');
    height: 23px;
    width: 22px;
    background-repeat: no-repeat;
    background-position: center;
}
.search:hover {
    background-color: lightcoral;
    border-radius: 95%;
}
.notifications:hover {
    background-color: lightcoral;
    border-radius: 95%;
}
.red-square-header {
    background: url('../images/Header-box-background-red.png');
    width: 89%;
    height: 880px;
    background-position: center;
    position: absolute;
    top: 100px;
    right: 100px;
    left: 100px;
    bottom: 100px;
    z-index: 2;
}
.headline {
    width: 1110px;
    height: 403px;
    position: relative;
    top: 339px;
    left: 327px;
    bottom: 238px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.upper-headline {
    height: 161px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.headline-text{
    font-family: 'SFProDisplay-Bold';
    font-size: 224px;
    color: #ffffff;
    letter-spacing: 0px;
    font-style: bold;
    font-weight: 700;
    line-height: 400px;
    opacity: 100%;
}
.headline-line{
    width: 143px;
    height: 29px;
    background-color: #ffffff;
    position: absolute;
    right: 0px;
}
.lower-headline {
    height: 203px;
}
.headline-text{
    font-family: 'SFProDisplay-Bold';
    font-size: 224px;
    color: #ffffff;
}
.header-subscribe{
    width: 431px;
    height: 73px;
    background-color: #000000;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 907px;
    left: 1006px;
}
.headline-subscribe{
    width: 215px;
    height: 37px;
    border: 1px solid yellow;
    text-align: center;
}
.headline-subscribe a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400px;
    line-height: 119px;
    letter-spacing: 0px;
    color: #ffffff;
    font-family: 'SFProDisplay-Semibold';
}
.headline-subscribe a:hover {
    color: lightseagreen;
}
/* .girl-header{
    border: 1px solid green;
    background: url('../images/girl-header.png');
    background-position: center;
    position: relative;
    width: 43%;
    height: 127%;
    z-index: 3;
} */