
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    position: relative;
    top: 41px;
}.logo-keeper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 400px;
    height: 20px;
    flex-grow: 1;
}
.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 100px;
    width: 90px;
    height: 20px;
}
.logo a {
    font-family: 'SFProDisplay-Black';
    font-size: 27px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 54px;
    font-weight: 400;
    color: #191a1d;
    letter-spacing: 2.7px;
}
.logo a:hover{
    color: lightgreen;
}
.red-dot{
    color: #f73646;
}
.red-dot:hover{
    color: lightgreen;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 569px;
    height: 22px;
    flex-grow: 1;
}
.navigation-items a{
    font-family: 'SFProDisplay-Heavy';
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 54px;
    font-weight: 400;
    color: #252a33;
    letter-spacing: 1.07px;
    height: 13px;
    display: flex;
    align-items: center;
}
.navigation-items a:hover{
    color: lightseagreen;
}
.icons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}
.search{
    background-image: url('../images/icon-search.png');
    height: 23px;
    width: 22px;
    background-repeat: no-repeat;
    background-position: center;
}
.notifications{
    background-image: url('../images/icon-bell.png');
    height: 23px;
    width: 22px;
    background-repeat: no-repeat;
    background-position: center;
}
.search:hover {
    background-color: lightcoral;
    border-radius: 95%;
}
.notifications:hover {
    background-color: lightcoral;
    border-radius: 95%;
}