*{
    box-sizing: border-box;
    margin: 0;
}
body {
    background: url('../images/Main_Background.png');
    display: flex;
    flex-direction: column;
    margin: 0px;
    z-index: 1;
}
header {
    position: relative;
    top: 39px;
    height: 588px;
}
.header-box {
    background: url('../images/Header-box-background-White.png');
    background-position: center;
    background-repeat: no-repeat;
    /* height: 1080px; */
    display: flex;
    flex-direction: column;
    width: -webkit-calc(100% - 200px);
    margin: 0 auto;
}
.about {
    background-color: #f7fcff;
    margin-top: 380px;
    height: 200px;

}
.news {
    background-color: lightseagreen;
    height: 1717px;
}
.footer {
    background-color: lightpink;
    height: 880px;
}
